<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>&lt;juicy-tile-list&gt; nested</title>

    <!-- Importing Web Component's Polyfill -->
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/polymer/0.3.0/platform.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/polymer/0.3.0/polymer.js"></script>
    <!--
    <script src="../platform/platform.js"></script>
    <script src="../polymer/polymer.js"></script>
    -->
    <!-- Importing Custom Elements -->
    <link rel="import" href="../src/juicy-tile-list.html">
<style>
* {
  margin:0px;
  padding:0px;
}
body>juicy-tile-list{
    /*width: 300px;
    height: 150px;*/
    width: 616px;
    padding:1em;
    box-shadow:     inset 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
}
juicy-tile-list>*{
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}
juicy-tile-list>:first-child {
    background:lightgreen;
}

juicy-tile-list>:nth-child(2) {
    background:lightblue;
}

juicy-tile-list>:nth-child(3) {
    background:yellow;
    overflow:auto;
}

juicy-tile-list>:nth-child(4) {
    background:gray;
    overflow:auto;
}

juicy-tile-list>:nth-child(5) {
    background:orange;
    max-height: 100px;
    overflow:auto;
}
</style>

<body>
    <template bind>
        <juicy-tile-list setup="{{setup}}">
            <div>Item 0 </div>
            <juicy-tile-list setup="{{setup2}}">
                <div>Item 0 </div>
                <div>
                    <button>Item 1</button>
                </div>
                <div>
                    <input value="Input2">
                </div>
                <section>Item3</section>
            </juicy-tile-list>
            <div>
                <input value="Input2">
            </div>            
            <section>Item3</section>            
        </juicy-tile-list>
    </template>
    <script type="text/javascript">
        // 011
        // 233
        // 2
        // 
        // prioritized
        // 
        // 110
        // 233
        // 2
        model = {
            setup: {
                gap: 8,
                items:[
                    // 011
                    // 233
                    // 2
                    // prioritized
                    // 
                    // 110
                    // 233
                    // 2
                    {
                        index:0,
                        priority:0.9,// 0.6,
                        height: 100,
                        width: 200
                    },
                    {
                        index:1,
                        priority:0.8,// 0.9,
                        height: 100,
                        width:400
                    },
                    {
                        index:2,
                        priority:0.6,// 0.3,
                        height: 100,
                        width: 400
                    },
                    {
                        index:3,
                        priority:0.4,
                        height: 200,
                        width: 200
                    }
                    // 
                    // 122
                    // 145
                    // 333
                    // 
                    // {
                    //   width: 200,
                    //   height: 2
                    // }, {
                    //   width: 400,
                    //   height:  100
                    // }, {
                    //   width: 600,
                    //   height:  100
                    // }, {
                    //   width: 200,
                    //   height:  100
                    // }, {
                    //   width: 200,
                    //   height:  100
                    // }
                ]
            },
            setup2: {
                gap: 4,
                items: [
                    // 011
                    // 233
                    // 2
                    // prioritized
                    // 
                    // 110
                    // 233
                    // 2
                    {
                        index:0,
                        priority:0.9,// 0.6,
                        height: 20,
                        width: 100
                    },
                    {
                        index:1,
                        priority:0.8,// 0.9,
                        height: 20,
                        width: 100
                    },
                    {
                        index:2,
                        priority:0.6,// 0.3,
                        height: 40,
                        width: 180
                    },
                    {
                        index:3,
                        priority:0.4,
                        height: 20,
                        width: 150
                    }
                ]
            }
        };
        document.addEventListener("polymer-ready", function(){
            document.querySelector("template").model = model;
            
        })




    </script>
    <section>
        <h3>API</h3>
        <ul>
            <li><code>pjSortableTiles.resizeItem</code>(<input placeholder="itemIndex">, <input placeholder="width">, <input placeholder="height">) <button id="callResize">call</button></li>
                
            <li><code>pjSortableTiles.reprioritizeItem</code>(<input placeholder="itemIndex">, <input placeholder="increase" title="Boolean (0|1)">, <input placeholder="end" title="Boolean (0|1)">) <button id="callReprioritize">call</button></li>

            <li><code>nestedPjSortableTiles.resizeItem</code>(<input placeholder="itemIndex">, <input placeholder="width">, <input placeholder="height">) <button id="callNestedResize">call</button></li>
                
            <li><code>nestedPjSortableTiles.reprioritizeItem</code>(<input placeholder="itemIndex">, <input placeholder="increase" title="Boolean (0|1)">, <input placeholder="end" title="Boolean (0|1)">) <button id="callNestedReprioritize">call</button></li>
        </ul>
        <script type="text/javascript">
        document.addEventListener("polymer-ready", function(){
            function callMethod(element, method, event){
                var args = event.target.parentElement.querySelectorAll("input")
                            .array().map(function(e){return parseInt(e.value)});
                element[method].apply(element, args);
            }
            document.getElementById("callResize").addEventListener("click", function (event){
                callMethod( document.querySelector("juicy-tile-list"), "resizeItem", event );
            });
            document.getElementById("callReprioritize").addEventListener("click", function (event){
                callMethod( document.querySelector("juicy-tile-list"), "reprioritizeItem", event );
            });
            document.getElementById("callNestedResize").addEventListener("click", function (event){
                callMethod( document.querySelector("juicy-tile-list juicy-tile-list"), "resizeItem", event );
            });
            document.getElementById("callNestedReprioritize").addEventListener("click", function (event){
                callMethod( document.querySelector("juicy-tile-list juicy-tile-list"), "reprioritizeItem", event );
            });
        });
        </script>
    </section>
    <footer>
        <h4>Other examples</h4>
        <ul>
            <li><a href="examples/prioritized.html">Prioritized/weighted tiles</a></li>
            <li><a href="examples/verticalLayers.html">Vertical layers</a></li>
            <li><a href="examples/fullWidth.html">Full width package</a></li>
        </ul>
    </footer>


</body>
