<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>&lt;juicy-tile-list&gt; with groups and heightAuto</title>

    <!-- Importing Web Component's Polyfill -->
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/polymer/0.3.1/platform.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/polymer/0.3.1/polymer.js"></script>
    <!--
    <script src="../platform/platform.js"></script>
    <script src="../polymer/polymer.js"></script>
    -->
    <!-- Importing Custom Elements -->
    <link rel="import" href="../src/juicy-tile-list.html">

    <link rel="stylesheet" href="github-markdown.css">
    <link rel="stylesheet" href="examples.css">
</head>
<body>
<a href="https://github.com/Juicy/juicy-tile-list"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<article class="markdown-body">
    <h1>&lt;juicy-tile-list&gt;</h1>
    <blockquote><p>Masonry-like Polymer Element for sortable tiles that packs efficiently without changing HTML structure (changes CSS only).</p></blockquote>

    <!-- EXAMPLE STARTS HERE -->
    <template bind>
        <juicy-tile-list setup="{{setup}}">
            <div>Item 0, 1x1, priority 0, nested</div>
            <div title="0.8x0.2, priority 1, nested twice">
                <button>Item 1..</button>
            </div>
            <div>
                <input value="Input2, 2x1, priority 0.9">
            </div>
            <section>Item3, 4x1, priority 0.6</section>
            <div title="0.8x0.2, priority 0, nested twice">Item 4..</div>
          <section>Item5, 4x1, priority 0.6</section>
          <section>Item6, 4x1, priority 0.6</section>
          <section>Item7, 4x1, priority 0.6</section>
        </juicy-tile-list>
    </template>
    <script type="text/javascript">
        // 011
        // 233
        // 2
        // 
        // prioritized
        // 
        // 110
        // 233
        // 2
        model = {
            setup:{
                gap: 24,
                items: [
                    {
                        index:2, //index of correcsponding DOM element (child)
                        priority: 0.9, //priority of element in current scope/group/container
                        height: 100,
                        width: 200
                    },
                    {
                      background: "yellow",
                        priority: 0.8,
                        height: 216,
                        heightAuto: true,
                        width: 216,
                        // group properties
                        name: "group1", //group name (optional?)
                        gap: 4,
                        direction: "downRight",
                        //items property indicates it is a group
                        items: [
                            
                            {
                              background: "blue",
                                priority: 0.8,
                                height: 100,
                                width: 100,
                                // group properties
                                name: "group2", //group name (optional?)
                                gap: 0,
                                direction: "rightDown",
                                //items property indicates it is a group
                                items: [
                                    {
                                        index:1,
                                        priority:1,
                                        height: 20,
                                        width: 80
                                    },
                                    {
                                        index:4,
                                        priority:0,
                                        height: 20,
                                        width: 80
                                    }
                                ]
                            },
                            {
                                index:0,
                                priority:1,
                                height: 100,
                                width: 100
                            }
                        ]
                    },
                    {
                        index:3,
                        priority:0.6,
                        height: 100,
                        width: 400
                    },
                    {
                        index:5,
                        priority:0.6,
                        height: 100,
                        width: 400
                    },
                    {
                        index:6,
                        priority:0.6,
                        height: 100,
                        width: 400
                    },
                    {
                        index:7,
                        priority:0.6,
                        height: 100,
                        width: 400
                    }
                ]
            }
        };
        document.addEventListener("polymer-ready", function(){
            document.querySelector("template").model = model;
            
        });
    </script>
    <!-- EXAMPLE ENDS HERE -->
    <section>
        <h3><a href="https://github.com/Juicy/juicy-tile-list#juicy-tile-list-">API</a></h3>
        <ul>
            <li><code>juicytilelist.resizeItem</code>(<input placeholder="itemIndex">, <input placeholder="width">, <input placeholder="height">) <button id="callResize">call</button></li>
                
            <li><code>juicytilelist.reprioritizeItem</code>(<input placeholder="itemIndex">, <input placeholder="increase" title="Boolean (0|1)">, <input placeholder="end" title="Boolean (0|1)">) <button id="callReprioritize">call</button></li>
        </ul>
        <script type="text/javascript" src="examples-api.js"></script>
    </section>
</article>
</body>
